<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Register</title>

    <link href="#" th:replace="common :: popper-js"/>
    <link href="#" th:replace="common :: bootstrap-334-css"/>
    <link href="#" th:replace="common :: header-css"/>
    <link href="#" th:replace="common :: footer-css"/>
    <link href="#" th:replace="common :: register-css"/>
    <link href="#" th:replace="common :: font-awesome-all"/>

</head>
<body>
<div th:replace="header :: header-info"></div>
<div class="container">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="panel panel-default">
                <h3 class="headline">Register</h3>
                <div class="row">
                    <div class="col-md-3 col-md-offset-3 icon">
                        <span><img height="60" th:src="@{/images/logo.png}" width="60"></span>
                    </div>
                </div>
                <div class="panel-body">
                    <form method="post" th:action="@{/register}" th:object="${register}">

                        <span th:errors="*{email}" th:if="${#fields.hasErrors('email')}"></span>
                        <div class="input-group form-group">
                            <div class="input-group-addon">
                                <span class="input-group-text"><i class="fas fa-envelope"></i></span>
                            </div>
                            <input class="form-control" id="email" placeholder="Email" th:field="*{email}" type="text"/>
                        </div>

                        <span th:errors="*{firstName}" th:if="${#fields.hasErrors('firstName')}"></span>
                        <div class="input-group form-group">
                            <div class="input-group-addon">
                                <span class="input-group-text"><i class="fas fa-user"></i></span>
                            </div>
                            <input class="form-control" id="firstName" name="firstName" placeholder="Fist Name"
                                   th:field="*{firstName}" type="text"/>
                        </div>

                        <span th:errors="*{lastName}" th:if="${#fields.hasErrors('lastName')}"></span>
                        <div class="input-group form-group">
                            <div class="input-group-addon">
                                <span class="input-group-text"><i class="fas fa-user"></i></span>
                            </div>
                            <input class="form-control" id="lastName" name="lastName" placeholder="Last Name"
                                   th:field="*{lastName}" type="text"/>
                        </div>

                        <span th:errors="*{password}" th:if="${#fields.hasErrors('password')}"></span>
                        <div class="input-group form-group">
                            <div class="input-group-addon">
                                <span class="input-group-text"><i class="fas fa-key"></i></span>
                            </div>
                            <input class="form-control" id="password" name="password" placeholder="password"
                                   th:field="*{password}" type="password"/>
                        </div>


                        <div class="form-group">
                            <input class="btn pull-right login_btn" type="submit" value="Register">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:replace="footer :: footer"></div>

<script src="#" th:replace="common :: jquery-321-js"></script>
<script src="#" th:replace="common :: bootstrap-334-js"></script>
<script src="#" th:replace="common :: jquery-1-11-js"></script>
</body>
</html>
