@import url('https://fonts.googleapis.com/css?family=Numans');

html,body{
background-size: cover;
background-repeat: no-repeat;
font-family: 'Numans', sans-serif;
}

body{
    padding:50px;
    background-image: url('https://wallpaperaccess.com/full/1968246.jpg');
}
